@page
@model IndexModel
@{
    ViewData["Title"] = "Boiler manager";
}

<div class="text-center">
    <h1 class="display-4">Boiler monitor</h1>
    <p id="loader">Loading...</p>
</div>

<script language="javascript">
    const heightCylinder = 200, stepPx = 4;
    function ScopeChanged(e) {
        document.scopeLength = Number.parseInt(e.value);
        if (document.currentTimeout != -1) clearTimeout(document.currentTimeout);
        update(heightCylinder, stepPx, document.scopeLength);
    }
</script>
<div id="controls">
    <label for="scope">Display scope</label>
    <select id="scope" onchange="ScopeChanged(this)" >
        <option id="Hour" label="Hour" value="60"/>
        <option id="Twelve" label="12 hours" value="720" />
        <option id="Day" label="Day" value="1440" />
        <option id="ThreeD" label="3 days" value="4320" />
        <option id="Week" label="Week" value="@BoilerManager.Model.BoilerMeta.MAX_ENTRIES" />
    </select>
</div>
<center>
    <div class="d-inline-block responsive">
        <canvas id="myChart"></canvas>
    </div>

    <div class="d-inline-block align-top m-4">
        <div id="top" class="cylinder">&nbsp;</div>
        <div id="bottom" class="cylinder">&nbsp;</div>
        <div class="text-lg-start">
            Boiler is heated at: <span id="boilerPercent">0</span>%<br />
            Showering time: <span id="boilerTime">0</span> min.
        </div>
    </div>
</center>

<script language="javascript">
    ScopeChanged(document.getElementById("scope"));
</script>
